<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<div layout:fragment="contenido">

    <!-- TÍTULO -->
    <div class="mb-4">
        <h2 class="fw-bold">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </h2>
        <p class="text-muted mb-0">
            Resumen general de la tienda
        </p>
    </div>

    <!-- FILA 1 -->
    <div class="row g-3 mb-3">

        <!-- Productos -->
        <div class="col-12 col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">

                    <h6 class="text-muted">
                        Productos Registrados
                    </h6>

                    <h2 class="fw-bold"
                        th:text="${dashboard.totalProductos}">
                        0
                    </h2>

                </div>
            </div>
        </div>

        <!-- Stock Bajo -->
        <div class="col-12 col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">

                    <h6 class="text-muted">
                        Stock Bajo
                    </h6>

                    <h2 class="fw-bold text-danger"
                        th:text="${dashboard.productosStockBajo}">
                        0
                    </h2>

                </div>
            </div>
        </div>

        <!-- Caja -->
        <div class="col-12 col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">

                    <h6 class="text-muted">
                        Caja Actual
                    </h6>

                    <h2 class="fw-bold text-success"
                        th:text="${dashboard.cajaActual}">
                        0
                    </h2>

                </div>
            </div>
        </div>

    </div>

    <!-- FILA 2 -->
    <div class="row g-3">

        <!-- Ventas -->
        <div class="col-12 col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">

                    <h6 class="text-muted">
                        Ventas Hoy
                    </h6>

                    <h2 class="fw-bold text-primary"
                        th:text="${dashboard.ventasHoy}">
                        0
                    </h2>

                </div>
            </div>
        </div>

        <!-- Compras -->
        <div class="col-12 col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">

                    <h6 class="text-muted">
                        Compras Hoy
                    </h6>

                    <h2 class="fw-bold text-warning"
                        th:text="${dashboard.comprasHoy}">
                        0
                    </h2>

                </div>
            </div>
        </div>

        <!-- Ganancia -->
        <div class="col-12 col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">

                    <h6 class="text-muted">
                        Ganancia Hoy
                    </h6>

                    <h2 class="fw-bold text-success"
                        th:text="${dashboard.gananciasHoy}">
                        0
                    </h2>

                </div>
            </div>
        </div>

    </div>
    <!-- panel inteligente -->

    <div class="row mt-3">

        <div class="col-12">

            <div class="card shadow-sm">

                <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color: #e86523; color:white;">

                <span>
                    <i class="bi bi-cpu-fill"></i>
                    Análisis inteligente del día
                </span>

                    <small>
                        Hoy vs Ayer
                    </small>

                </div>

                <div class="card-body">

                    <!-- ESTADO GENERAL -->
                    <div class="alert text-center"
                         th:classappend="${
                        comparativo.estado == 'CRECIMIENTO'
                        ? 'alert-success'
                        : (comparativo.estado == 'CAIDA'
                            ? 'alert-danger'
                            : 'alert-warning')
                     }">

                        <strong>
                            Estado del negocio:
                            <span th:text="${comparativo.estado}"></span>
                        </strong>

                    </div>

                    <!-- KPI ROW -->
                    <div class="row text-center">

                        <div class="col-md-3">
                            <h6>Ventas Hoy</h6>
                            <h4 class="text-success"
                                th:text="${comparativo.ventasHoy}">
                            </h4>
                        </div>

                        <div class="col-md-3">
                            <h6>Ventas Ayer</h6>
                            <h4 class="text-primary"
                                th:text="${comparativo.ventasAyer}">
                            </h4>
                        </div>

                        <div class="col-md-3">
                            <h6>Diferencia</h6>
                            <h4 th:text="${comparativo.diferencia}"
                                th:classappend="${
                                comparativo.diferencia >= 0
                                ? 'text-success'
                                : 'text-danger'
                            }">
                            </h4>
                        </div>

                        <div class="col-md-3">
                            <h6>Crecimiento</h6>
                            <h4 th:text="${comparativo.porcentajeCrecimiento + '%'}"
                                th:classappend="${
                                comparativo.porcentajeCrecimiento >= 0
                                ? 'text-success'
                                : 'text-danger'
                            }">
                            </h4>
                        </div>

                    </div>

                    <!-- INTERPRETACIÓN -->
                    <hr>

                    <div class="text-center">

                        <p th:if="${comparativo.estado == 'CRECIMIENTO'}">
                            Buen rendimiento: las ventas están aumentando.
                        </p>

                        <p th:if="${comparativo.estado == 'CAIDA'}">
                            Atención: las ventas han disminuido.
                        </p>

                        <p th:if="${comparativo.estado == 'ESTABLE'}">
                             Sin cambios relevantes en ventas.
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
</html>