<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">




<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tienda Surtida</title>


    <!-- AdminLTE -->
    <link rel="stylesheet" th:href="@{/css/adminlte.css}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
        .app-sidebar {
            background: #1b2a4a !important;
        }

        .app-sidebar .nav-link {
            color: white !important;
        }

        .app-sidebar .nav-link:hover {
            background: #f97316 !important;
            color: white !important;
        }

        .app-sidebar .nav-link.active {
            background: #f97316 !important;
            color: white !important;
        }
        .sidebar-brand {
            height: 160px !important;
            padding: 0 !important;
        }

        .sidebar-brand .brand-link {
            height: 120px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">

<div class="app-wrapper">

    <!-- NAVBAR -->
    <nav class="app-header navbar navbar-expand bg-body">

        <div class="container-fluid">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link"
                       data-lte-toggle="sidebar"
                       href="#">

                        <i class="bi bi-list"></i>

                    </a>
                </li>

            </ul>

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
        <span class="nav-link">
            Sistema Tienda Surtida
        </span>
                </li>

                <!-- USUARIO LOGUEADO -->
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown">

                        <i class="bi bi-person-circle m-2 fs-4"></i>

                        <span class="fw-semibold fs-5" sec:authentication="name"></span>

                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">

                   <!--     <li>
                <span class="dropdown-item-text">
                    Usuario activo
                </span>
                        </li>-->

                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item text-danger" type="submit">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>

                    </ul>

                </li>

            </ul>

        </div>

    </nav>

    <!-- SIDEBAR -->
    <aside class="app-sidebar bg-body-secondary shadow"
           data-bs-theme="dark">

        <!-- Logo -->
        <div class="sidebar-brand border-bottom">

            <a th:href="@{/dashboard}"
               class="brand-link d-flex justify-content-center align-items-center p-2">

                <img th:src="@{/assets/img/loguito.png}"
                     alt="Logo"
                     style="max-width:95%;
                    max-height:150px;">

            </a>

        </div>

        <!-- Menú -->
        <div class="sidebar-wrapper">

            <nav class="mt-2">

                <ul class="nav sidebar-menu flex-column">

                    <!-- Inicio -->
                    <li class="nav-item">

                        <a th:href="@{/dashboard}"
                           class="nav-link">

                            <i class="nav-icon bi bi-speedometer me-2"></i>

                            <p>Dashboard</p>

                        </a>

                    </li>
                    <!--reportes-->

                    <li class="nav-item"
                        sec:authorize="hasAnyRole('Duena','Administrador')">

                        <a href="#" class="nav-link" data-lte-toggle="treeview">

                            <i class="nav-icon bi bi-bar-chart-line-fill"></i>

                            <p>
                                Reportes
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>

                        </a>

                        <ul class="nav nav-treeview">

                            <li class="nav-item">

                                <a th:href="@{/reportes/financiero}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-cash-stack nav-icon text-warning"></i>
                                    <p>Financiero</p>

                                </a>

                            </li>
                            <!--stock bajo-->
                            <li class="nav-item">

                                <a th:href="@{/reportes/stock}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-exclamation-triangle-fill nav-icon text-warning"></i>
                                    <p>Stock Bajo</p>

                                </a>

                            </li>
                            <!--productos mas vendidos-->
                            <li class="nav-item">

                                <a th:href="@{/reportes/productos-mas-vendidos}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-trophy-fill nav-icon text-warning"></i>
                                    <p>Mas vendidos</p>

                                </a>

                            </li>



                        </ul>


                    </li>



                    <li class="nav-item">

                        <a href="#" class="nav-link" data-lte-toggle="treeview">

                            <i class="nav-icon bi bi-box-seam"></i>

                            <p>
                                Inventario
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>

                        </a>

                        <ul class="nav nav-treeview">

                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador')">

                                <a th:href="@{/categorias}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                        <i class="bi bi-tags-fill nav-icon text-warning"></i>
                                    <p>Categorías</p>

                                </a>

                            </li>
                            <!--aqui boton para uidad medida-->
                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador')">

                                <a th:href="@{/unidades}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-calculator-fill nav-icon text-warning"></i>
                                    <p>Unidades de Medida</p>

                                </a>

                            </li>
                            <!--aqui boton para poductos-->
                            <li class="nav-item">

                                <a th:href="@{/productos}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-boxes nav-icon text-warning"></i>
                                    <p>Productos</p>

                                </a>

                            </li>
                            <!--aqui boton para historial de precios-->
                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador')">

                                <a th:href="@{/historial-precios}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-clock-history nav-icon text-warning"></i>
                                    <p>Historial de precios</p>

                                </a>

                            </li>
                            <!--aqui boton para vencimiento de productoss-->
                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador','Vendedor')">

                                <a th:href="@{/vencimientos/lista}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-calendar-x nav-icon text-warning"></i>
                                    <p>Proximos a vencer</p>
                                    <span class="right badge badge-danger">
                                        alerta
                                    </span>

                                </a>

                            </li>

                        </ul>

                    </li>
                    <li class="nav-item"
                        sec:authorize="hasAnyRole('Duena','Administrador')">

                        <a href="#" class="nav-link" data-lte-toggle="treeview">

                            <i class="nav-icon bi bi-cart-check-fill"></i>

                            <p>
                                Compras
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>

                        </a>

                        <ul class="nav nav-treeview">

                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador')">

                                <a th:href="@{/proveedores}"
                                   class="nav-link">


                                    <i class="bi bi-truck nav-icon text-warning"></i>

                                    <p>Proveedores</p>

                                </a>

                            </li>
                            <li class="nav-item">

                                <a th:href="@{/compras}"
                                   class="nav-link">


                                    <i class="bi bi-cart-plus nav-icon text-warning"></i>

                                    <p>Compras</p>

                                </a>

                            </li>
                            <!--boton pra pedidos-->
                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador','Vendedor')">

                                <a th:href="@{/pedidos}"
                                   class="nav-link">


                                    <i class="bi bi-cart-check nav-icon text-warning"></i>

                                    <p>Pedidos</p>

                                </a>

                            </li>


                        </ul>

                    </li>
                    <li class="nav-item"
                        sec:authorize="hasAnyRole('Duena','Administrador','Vendedor')">

                        <a href="#" class="nav-link" data-lte-toggle="treeview">

                            <i class="nav-icon bi bi-shop"></i>

                            <p>
                                Ventas
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>

                        </a>

                        <ul class="nav nav-treeview">

                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador','Vendedor')">

                                <a th:href="@{/ventas}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-cart nav-icon text-warning"></i>
                                    <p>Venta</p>

                                </a>

                            </li>
                            <!--historial-->
                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador','Vendedor')">

                                <a th:href="@{/ventas/historial}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-clock-history nav-icon text-warning"></i>
                                    <p>Historial</p>

                                </a>

                            </li>
                            <!--productos mas vendidos-->
                            <li class="nav-item"
                                sec:authorize="hasAnyRole('Duena','Administrador')">

                                <a th:href="@{/ventas/mas-vendidos}"
                                   class="nav-link">

                                    <i class="bi bi-tod"></i>
                                    <i class="bi bi-trophy-fill nav-icon text-warning"></i>
                                    <p>Ranking de productos</p>

                                </a>

                            </li>



                        </ul>


                    </li>
                    <li class="nav-item"
                        sec:authorize="hasAnyRole('Duena','Administrador')">

                        <a th:href="@{/caja}"
                           class="nav-link">

                            <i class="nav-icon bi bi-cash-stack"></i>

                            <p>Caja</p>

                        </a>

                    </li>
                    <!-- Usuarios -->
                    <li class="nav-item"
                        sec:authorize="hasAnyRole('Duena','Administrador')">

                        <a th:href="@{/usuarios}"
                           class="nav-link">

                            <i class="nav-icon bi bi-people"></i>

                            <p>Usuarios</p>

                        </a>

                    </li>

                </ul>

            </nav>

        </div>

    </aside>


       <!--  CONTENIDO PRINCIPAL-->

    <main class="app-main">

        <div class="app-content">

            <div class="container-fluid mt-3">


                <!-- Aquí se cargará el contenido
             <div th:replace="~{${contenido}}">
                    Contenido
                </div>-->
               <!-- <div th:replace="~{dashboard/index :: contenido}">
                </div>-->
                <div layout:fragment="contenido">

                </div>

            </div>

        </div>

    </main>

</div>



<script th:src="@{/js/adminlte.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>